@charset "UTF-8";

body {
    background-color: rgb(118, 249, 192);
    color: rgb(0, 52, 34);
    font-family: Arial, Helvetica, sans-serif;
}

h1#titulo {
    background-color: rgb(185, 255, 236);
    color:rgb(17, 187, 114);
    text-align: center;
}

span#especial {
    background-color: rgb(198, 255, 107);
    color: rgb(0, 123, 70);
    font-weight: bold;
    font-size: 1.1em;
}

h1 {
    color: rgb(28, 122, 81);
    
}

h2 {
    color: rgb(71, 163, 123);
}

.basico {
    background-color: rgb(79, 220, 159);
    color: rgb(26, 126, 83);
}

.intermediario{
    background-color: rgb(250, 200, 92);
    color: rgb(191, 135, 15);
}

.avançado{
    background-color: rgb(218, 147, 245);
    color: rgb(113, 69, 130);
}