header{
    background-color: black;
    padding: 1em;
    margin: 0px 0px;
    text-align: center;
}

header h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 2.7em;
}

header p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 1.3em;
}

header a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover{
    color: cornflowerblue;
    transition-duration: 0.6s;
}

main pre{
    font-family: cursive;
    font-size: 1.1em;
}
